<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Ingredients to make a Badass</h1>
    {% for item in ingredients %}
        <h3> {{ item }} </h3>
    {% endfor %}
    <form method="POST" action="/recipe">
        <label>Ingredient</label>
        <input type="text" name="new_ingredient">
        <button type="submit">submit</button>
    </form>
</body>
</html>